.onboarding {
  margin-top: 120px;
}

h3 {
  font-weight: 500;
  margin-top: -3px;
  font-size: 20px;
}

h4 {
  margin-bottom: 9px;
  color: #6e6e6e;
  font-weight: 500;
}

.chip {
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  padding: 8px 16px;
  border-radius: 20px;
  margin: 5px;
  cursor: pointer;
}

.chip.selected {
  background-color: var(--secondary);
  color: white;
}

.chips-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0px;
  margin-bottom: 20px;
}

.date-picker input {
  margin-bottom: 20px;
  width: -webkit-fill-available;
  padding: 15px 20px;
  border-radius: 12px;
  border: none;
  background-color: #f4f4f4;
}

.save-btn {
  padding: 16px 20px;
  background-color: var(--primary);
  color: white;
  border: none;
  border-radius: 14px;
  cursor: pointer;
  width: 100%;
  font-weight: 600;
}

input[type="text"] {
  width: -webkit-fill-available;
  padding: 20px;
  border-radius: 18px;
  outline: none;
  border: none;
  background-color: #f4f4f4;
  font-size: 15px;
}
