* {
  font-family: "Mona Sans", sans-serif;
}

body {
  background-color: #f5f7f8;
  padding: 20px;
}

:root {
  --primary: #1352f3;
  --secondary: #0766eb;
  --background: #f5f7f8;
  --text: #2e3a59;
  --text-secondary: #6b7c93;
}

@font-face {
  font-family: "Mona Sans";
  src: url("/src/assets/fonts/Mona-Sans.woff2")
      format("woff2 supports variations"),
    url("/src/assets/fonts/Mona-Sans.woff2") format("woff2-variations");
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

/* toolbar */
.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #ffffff;
  color: rgb(214, 214, 214);
  padding: 10px;
}

.section {
  flex: 1;
  text-align: center;
  text-decoration: none;
  color: rgb(214, 214, 214);
}

/* Estilos para la sección del medio */
.middle {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff !important;
  padding: 17px 18px 12px 18px;
  border-radius: 50px;
  z-index: 1;
  color: var(--secondary);
  cursor: pointer;
  box-shadow: 0 8px 15px rgb(0 0 0 / 6%);
}

.icon {
  width: 24px;
  height: 24px;
  margin-bottom: 5px;
}

.title {
  display: block;
}

.active {
  color: var(--secondary);
}

/* Header */

.header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header span {
  font-size: 30px;
}

/* Search bar*/

.searchBar {
  display: flex;
  width: 100%;
}

.searchBar input {
  width: 70%;
  padding: 20px;
  border-radius: 18px;
  outline: none;
  border: none;
}

/* Result */

.titleResult {
  font-size: 30px;
}

/* Event */

.eventContainer {
  width: -webkit-fill-available;
  background-color: #fff;
  padding: 18px;
  border-radius: 35px;
}

.eventContainer img {
  width: 100%;
  border-radius: 22px;
  height: 300px;
  object-fit: cover;
  object-position: center;
}

.eventContainer .eventInfo h3 {
  font-weight: 700;
}

.eventContainer .eventInfo .actions {
  display: flex;
  width: 100%;
  gap: 10px;
}

.eventContainer .eventInfo .actions button {
  width: 100%;
  padding: 15px 10px;
  border-radius: 12px;
  border: none;
}
